// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 40px;
	font-family: 'Courier New', sans-serif;
	text-align: center;
}
#timer {
	margin-left:40px;
	font-size: 36px;
	letter-spacing: 3px;
}

#target {
	margin-left:40px;
	font-size: 48px;
	letter-spacing: 3px;
}

#description {
	margin-left:40px;
	font-size: 24px;
	letter-spacing: 3px;
}

.info {
	color: #ccc;
	font-size: 48px;
}

.category {
  height: 40px;
  width: 160px;
  font-size: 20px;
  margin-left:470px;
  margin-bottom:10px;
}